node_modules/
dist/
dist-ssr/
*.local
.vite/

# Éditeurs
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Journaux
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Artefacts de compilation
*.tsbuildinfo
